<a href="https://colab.research.google.com/github/hemil19/AISem3/blob/master/cw/Classwork_python_practice_D011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [2]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [4]:
df.shape

(17000, 9)

## Splitting into train-test using user input ratio

In [14]:
def split(df,splitratio):
  size=int(len(df)*splitratio)
  train=df.iloc[0:size]
  test=df.iloc[size:]
  return (train,test)

In [15]:
train,test=split(df,0.8)

In [16]:
train.shape,test.shape

((13600, 9), (3400, 9))

## Function to TRAVERSE row and columns

In [62]:
#for traversing each columns
def traverse_columns(df):
  for i in df.columns:
    print(i)

In [64]:
#for traversing each rows
def traverse_rows(df):
  for i in df.index:
    print(df.loc[i,:])
    print('end of row '+str(i))

## Write a function to query if a values exists in the dataframe and return its complete column and complete row separately

In [57]:
def searchvalue(df,value):
  for i in range(0,len(df.columns)):
    if value in list(df.iloc[:,i]):
      column=df.iloc[:,i]
      for j in range(0,len(column)):
        if value==column[j]:
          row=df[df.index==j]
          return(row,column)

In [59]:
element_row,element_column=searchvalue(df,-114.31)

In [60]:
element_row

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0

[1 rows x 9 columns]

In [61]:
element_column

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64

## Apply 3 and 4 to Train and Test

In [65]:
train.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [66]:
traverse_columns(train)

longitude
latitude
housing_median_age
total_rooms
total_bedrooms
population
households
median_income
median_house_value

In [67]:
traverse_columns(test)

longitude
latitude
housing_median_age
total_rooms
total_bedrooms
population
households
median_income
median_house_value

In [68]:
traverse_rows(train)

Streaming output truncated to the last 5000 lines.
households               474.0000
median_income              6.0604
median_house_value    247900.0000
Name: 13145, dtype: float64
end of row 13145
longitude               -121.8900
latitude                  37.6700
housing_median_age        19.0000
total_rooms             2034.0000
total_bedrooms           288.0000
population               852.0000
households               295.0000
median_income              6.5285
median_house_value    300400.0000
Name: 13146, dtype: float64
end of row 13146
longitude               -121.8900
latitude                  37.6600
housing_median_age         3.0000
total_rooms             1565.0000
total_bedrooms           464.0000
population               769.0000
households               461.0000
median_income              2.1187
median_house_value    231300.0000
Name: 13147, dtype: float64
end of row 13147
longitude               -121.8900
latitude                  37.4900
housing_median_age         9.0000
total_rooms             4909.0000
total_bedrooms           577.0000
population              1981.0000
households               591.0000
median_income              9.7194
median_house_value    500001.0000
Name: 13148, dtype: float64
end of row 13148
longitude               -121.89
latitude                  37.45
housing_median_age        15.00
total_rooms             2428.00
total_bedrooms           513.00
population              1687.00
households               519.00
median_income              4.75
median_house_value    254400.00
Name: 13149, dtype: float64
end of row 13149
longitude               -121.8900
latitude                  37.4400
housing_median_age         8.0000
total_rooms             2534.0000
total_bedrooms           380.0000
population              1527.0000
households               364.0000
median_income              7.8532
median_house_value    422800.0000
Name: 13150, dtype: float64
end of row 13150
longitude               -121.890
latitude                  37.390
housing_median_age         2.000
total_rooms             1136.000
total_bedrooms           365.000
population               535.000
households               257.000
median_income              4.375
median_house_value    425000.000
Name: 13151, dtype: float64
end of row 13151
longitude               -121.8900
latitude                  37.3800
housing_median_age         3.0000
total_rooms             4778.0000
total_bedrooms          1047.0000
population              2522.0000
households               990.0000
median_income              5.7695
median_house_value    271400.0000
Name: 13152, dtype: float64
end of row 13152
longitude               -121.8900
latitude                  37.3600
housing_median_age        37.0000
total_rooms             1525.0000
total_bedrooms           363.0000
population              1075.0000
households               374.0000
median_income              2.8971
median_house_value    186100.0000
Name: 13153, dtype: float64
end of row 13153
longitude               -121.8900
latitude                  37.3500
housing_median_age        44.0000
total_rooms             2019.0000
total_bedrooms           615.0000
population              1243.0000
households               518.0000
median_income              2.0549
median_house_value    193800.0000
Name: 13154, dtype: float64
end of row 13154
longitude               -121.8900
latitude                  37.3500
housing_median_age        44.0000
total_rooms             1668.0000
total_bedrooms           380.0000
population              1143.0000
households               365.0000
median_income              3.2083
median_house_value    181900.0000
Name: 13155, dtype: float64
end of row 13155
longitude               -121.890
latitude                  37.350
housing_median_age        43.000
total_rooms             1185.000
total_bedrooms           296.000
population               933.000
households               244.000
median_income              2.925
median_house_value    170800.000
Name: 13156, dtype: float64
end of row 13156
longitude               -121.8900
latitude                  37.3400
housing_median_age        46.0000
total_rooms             1197.0000
total_bedrooms           416.0000
population               898.0000
households               370.0000
median_income              2.1714
median_house_value    190600.0000
Name: 13157, dtype: float64
end of row 13157
longitude               -121.8900
latitude                  37.3400
housing_median_age        43.0000
total_rooms             1423.0000
total_bedrooms           467.0000
population              1013.0000
households               428.0000
median_income              1.6708
median_house_value    204200.0000
Name: 13158, dtype: float64
end of row 13158
longitude               -121.8900
latitude                  37.3400
housing_median_age        20.0000
total_rooms             1106.0000
total_bedrooms           494.0000
population               851.0000
households               448.0000
median_income              0.8894
median_house_value    350000.0000
Name: 13159, dtype: float64
end of row 13159
longitude               -121.8900
latitude                  37.3300
housing_median_age         6.0000
total_rooms             1495.0000
total_bedrooms           552.0000
population              1087.0000
households               557.0000
median_income              2.8798
median_house_value    225000.0000
Name: 13160, dtype: float64
end of row 13160
longitude               -121.8900
latitude                  37.3300
housing_median_age        49.0000
total_rooms              658.0000
total_bedrooms           318.0000
population               467.0000
households               316.0000
median_income              0.7068
median_house_value    200000.0000
Name: 13161, dtype: float64
end of row 13161
longitude               -121.8900
latitude                  37.3200
housing_median_age        43.0000
total_rooms             1105.0000
total_bedrooms           241.0000
population               982.0000
households               206.0000
median_income              2.1149
median_house_value    184900.0000
Name: 13162, dtype: float64
end of row 13162
longitude               -121.8900
latitude                  37.3200
housing_median_age        41.0000
total_rooms              977.0000
total_bedrooms           265.0000
population               865.0000
households               253.0000
median_income              3.2317
median_house_value    184800.0000
Name: 13163, dtype: float64
end of row 13163
longitude               -121.8900
latitude                  37.3200
housing_median_age        34.0000
total_rooms             1014.0000
total_bedrooms           246.0000
population               952.0000
households               215.0000
median_income              2.8864
median_house_value    172500.0000
Name: 13164, dtype: float64
end of row 13164
longitude               -121.8900
latitude                  37.3100
housing_median_age        52.0000
total_rooms             1994.0000
total_bedrooms           404.0000
population              1014.0000
households               389.0000
median_income              4.3882
median_house_value    223600.0000
Name: 13165, dtype: float64
end of row 13165
longitude               -121.8900
latitude                  37.3100
housing_median_age        47.0000
total_rooms             2986.0000
total_bedrooms           627.0000
population              1399.0000
households               613.0000
median_income              3.7455
median_house_value    247400.0000
Name: 13166, dtype: float64
end of row 13166
longitude               -121.8900
latitude                  37.3100
housing_median_age        40.0000
total_rooms             1844.0000
total_bedrooms           340.0000
population               719.0000
households               305.0000
median_income              3.3682
median_house_value    235200.0000
Name: 13167, dtype: float64
end of row 13167
longitude               -121.8900
latitude                  37.3000
housing_median_age        52.0000
total_rooms             2071.0000
total_bedrooms           362.0000
population               825.0000
households               364.0000
median_income              4.2414
median_house_value    284800.0000
Name: 13168, dtype: float64
end of row 13168
longitude               -121.8900
latitude                  37.3000
housing_median_age        47.0000
total_rooms             2355.0000
total_bedrooms           426.0000
population               961.0000
households               428.0000
median_income              5.3955
median_house_value    282300.0000
Name: 13169, dtype: float64
end of row 13169
longitude               -121.8900
latitude                  37.3000
housing_median_age        47.0000
total_rooms             1604.0000
total_bedrooms           284.0000
population               639.0000
households               278.0000
median_income              5.8415
median_house_value    283300.0000
Name: 13170, dtype: float64
end of row 13170
longitude               -121.8900
latitude                  37.3000
housing_median_age        46.0000
total_rooms             2639.0000
total_bedrooms           448.0000
population               938.0000
households               424.0000
median_income              5.0662
median_house_value    331600.0000
Name: 13171, dtype: float64
end of row 13171
longitude               -121.8900
latitude                  37.2900
housing_median_age        38.0000
total_rooms             1568.0000
total_bedrooms           351.0000
population               710.0000
households               339.0000
median_income              2.7042
median_house_value    286600.0000
Name: 13172, dtype: float64
end of row 13172
longitude               -121.8900
latitude                  37.2900
housing_median_age        36.0000
total_rooms             2959.0000
total_bedrooms           529.0000
population              1125.0000
households               520.0000
median_income              4.2614
median_house_value    268800.0000
Name: 13173, dtype: float64
end of row 13173
longitude               -121.8900
latitude                  37.2800
housing_median_age        32.0000
total_rooms             4308.0000
total_bedrooms           717.0000
population              2002.0000
households               695.0000
median_income              4.1645
median_house_value    281900.0000
Name: 13174, dtype: float64
end of row 13174
longitude               -121.8900
latitude                  37.2700
housing_median_age        28.0000
total_rooms             1481.0000
total_bedrooms           256.0000
population               688.0000
households               221.0000
median_income              5.2088
median_house_value    240900.0000
Name: 13175, dtype: float64
end of row 13175
longitude               -121.89
latitude                  37.26
housing_median_age        26.00
total_rooms             1864.00
total_bedrooms           331.00
population               956.00
households               325.00
median_income              5.50
median_house_value    231700.00
Name: 13176, dtype: float64
end of row 13176
longitude               -121.8900
latitude                  37.2600
housing_median_age        25.0000
total_rooms             3319.0000
total_bedrooms           531.0000
population              1560.0000
households               502.0000
median_income              5.8479
median_house_value    263300.0000
Name: 13177, dtype: float64
end of row 13177
longitude               -121.8900
latitude                  37.2500
housing_median_age        26.0000
total_rooms             1741.0000
total_bedrooms           323.0000
population              1007.0000
households               339.0000
median_income              4.7069
median_house_value    234800.0000
Name: 13178, dtype: float64
end of row 13178
longitude               -121.8900
latitude                  37.2500
housing_median_age        23.0000
total_rooms             2705.0000
total_bedrooms           449.0000
population              1180.0000
households               442.0000
median_income              6.0791
median_house_value    316500.0000
Name: 13179, dtype: float64
end of row 13179
longitude               -121.8900
latitude                  37.2500
housing_median_age        21.0000
total_rooms             2080.0000
total_bedrooms           352.0000
population              1040.0000
households               325.0000
median_income              5.2887
median_house_value    264500.0000
Name: 13180, dtype: float64
end of row 13180
longitude               -121.89
latitude                  37.23
housing_median_age        20.00
total_rooms             7754.00
total_bedrooms           976.00
population              3094.00
households               941.00
median_income              8.19
median_house_value    361600.00
Name: 13181, dtype: float64
end of row 13181
longitude               -121.8900
latitude                  37.2300
housing_median_age        16.0000
total_rooms             3574.0000
total_bedrooms           466.0000
population              1503.0000
households               487.0000
median_income              8.1988
median_house_value    355900.0000
Name: 13182, dtype: float64
end of row 13182
longitude               -121.8900
latitude                  37.2100
housing_median_age        14.0000
total_rooms             5636.0000
total_bedrooms           697.0000
population              2281.0000
households               680.0000
median_income              8.4262
median_house_value    459200.0000
Name: 13183, dtype: float64
end of row 13183
longitude               -121.8900
latitude                  36.6300
housing_median_age        20.0000
total_rooms             1834.0000
total_bedrooms           554.0000
population               971.0000
households               514.0000
median_income              3.0383
median_house_value    217300.0000
Name: 13184, dtype: float64
end of row 13184
longitude               -121.8900
latitude                  36.6000
housing_median_age        19.0000
total_rooms              656.0000
total_bedrooms           200.0000
population               248.0000
households               173.0000
median_income              1.2656
median_house_value    500000.0000
Name: 13185, dtype: float64
end of row 13185
longitude               -121.890
latitude                  36.590
housing_median_age        32.000
total_rooms              784.000
total_bedrooms           112.000
population               262.000
households               114.000
median_income              6.918
median_house_value    500001.000
Name: 13186, dtype: float64
end of row 13186
longitude               -121.8900
latitude                  36.5900
housing_median_age        18.0000
total_rooms             2700.0000
total_bedrooms           937.0000
population              1042.0000
households               744.0000
median_income              3.1364
median_house_value    150000.0000
Name: 13187, dtype: float64
end of row 13187
longitude              -121.9000
latitude                 39.5900
housing_median_age       20.0000
total_rooms            1465.0000
total_bedrooms          278.0000
population              745.0000
households              250.0000
median_income             3.0625
median_house_value    93800.0000
Name: 13188, dtype: float64
end of row 13188
longitude               -121.90
latitude                  38.72
housing_median_age        38.00
total_rooms              575.00
total_bedrooms           107.00
population               259.00
households               109.00
median_income              3.75
median_house_value    187500.00
Name: 13189, dtype: float64
end of row 13189
longitude              -121.9000
latitude                 38.0400
housing_median_age       36.0000
total_rooms            1489.0000
total_bedrooms          331.0000
population              838.0000
households              259.0000
median_income             1.2024
median_house_value    90200.0000
Name: 13190, dtype: float64
end of row 13190
longitude               -121.9000
latitude                  38.0200
housing_median_age         5.0000
total_rooms             1560.0000
total_bedrooms           369.0000
population              1037.0000
households               372.0000
median_income              3.6154
median_house_value    181800.0000
Name: 13191, dtype: float64
end of row 13191
longitude               -121.9000
latitude                  38.0200
housing_median_age        12.0000
total_rooms             1497.0000
total_bedrooms           360.0000
population               943.0000
households               341.0000
median_income              2.1417
median_house_value    122200.0000
Name: 13192, dtype: float64
end of row 13192
longitude               -121.9000
latitude                  38.0100
housing_median_age        34.0000
total_rooms             3779.0000
total_bedrooms           766.0000
population              2356.0000
households               722.0000
median_income              3.5129
median_house_value    110600.0000
Name: 13193, dtype: float64
end of row 13193
longitude               -121.9000
latitude                  38.0100
housing_median_age        16.0000
total_rooms             2604.0000
total_bedrooms           454.0000
population              1696.0000
households               481.0000
median_income              4.6628
median_house_value    136000.0000
Name: 13194, dtype: float64
end of row 13194
longitude               -121.9000
latitude                  38.0000
housing_median_age        14.0000
total_rooms             2677.0000
total_bedrooms           368.0000
population              1288.0000
households               375.0000
median_income              6.0497
median_house_value    177500.0000
Name: 13195, dtype: float64
end of row 13195
longitude               -121.9000
latitude                  38.0000
housing_median_age        14.0000
total_rooms             1930.0000
total_bedrooms           363.0000
population               990.0000
households               322.0000
median_income              4.1094
median_house_value    162200.0000
Name: 13196, dtype: float64
end of row 13196
longitude               -121.9000
latitude                  37.6700
housing_median_age         7.0000
total_rooms             9540.0000
total_bedrooms          1294.0000
population              3926.0000
households              1229.0000
median_income              7.4353
median_house_value    389800.0000
Name: 13197, dtype: float64
end of row 13197
longitude               -121.9000
latitude                  37.6700
housing_median_age        15.0000
total_rooms             2130.0000
total_bedrooms           273.0000
population               876.0000
households               285.0000
median_income              7.2639
median_house_value    332400.0000
Name: 13198, dtype: float64
end of row 13198
longitude               -121.9000
latitude                  37.6600
housing_median_age        18.0000
total_rooms             7397.0000
total_bedrooms          1137.0000
population              3126.0000
households              1115.0000
median_income              6.4994
median_house_value    323000.0000
Name: 13199, dtype: float64
end of row 13199
longitude               -121.9000
latitude                  37.4500
housing_median_age        18.0000
total_rooms             4900.0000
total_bedrooms           814.0000
population              2984.0000
households               758.0000
median_income              6.6176
median_house_value    276200.0000
Name: 13200, dtype: float64
end of row 13200
longitude               -121.9000
latitude                  37.4500
housing_median_age        16.0000
total_rooms             2952.0000
total_bedrooms           446.0000
population              1525.0000
households               460.0000
median_income              5.6063
median_house_value    320500.0000
Name: 13201, dtype: float64
end of row 13201
longitude               -121.9000
latitude                  37.4400
housing_median_age         9.0000
total_rooms              957.0000
total_bedrooms           139.0000
population               532.0000
households               142.0000

In [70]:
traverse_rows(test)

Streaming output truncated to the last 5000 lines.
households               298.0000
median_income              4.5588
median_house_value    196400.0000
Name: 16545, dtype: float64
end of row 16545
longitude               -122.6700
latitude                  38.3300
housing_median_age         4.0000
total_rooms             8072.0000
total_bedrooms          1606.0000
population              4323.0000
households              1475.0000
median_income              3.9518
median_house_value    220300.0000
Name: 16546, dtype: float64
end of row 16546
longitude               -122.6700
latitude                  38.3100
housing_median_age        28.0000
total_rooms             1915.0000
total_bedrooms           419.0000
population               930.0000
households               342.0000
median_income              3.7875
median_house_value    292700.0000
Name: 16547, dtype: float64
end of row 16547
longitude               -122.6700
latitude                  38.2500
housing_median_age        32.0000
total_rooms             1333.0000
total_bedrooms           235.0000
population               660.0000
households               206.0000
median_income              4.0729
median_house_value    288500.0000
Name: 16548, dtype: float64
end of row 16548
longitude              -122.680
latitude                 41.150
housing_median_age       32.000
total_rooms             817.000
total_bedrooms          206.000
population              224.000
households               89.000
median_income             3.631
median_house_value    90400.000
Name: 16549, dtype: float64
end of row 16549
longitude               -122.6800
latitude                  38.9800
housing_median_age        27.0000
total_rooms             2300.0000
total_bedrooms           508.0000
population               526.0000
households               254.0000
median_income              2.1838
median_house_value    109700.0000
Name: 16550, dtype: float64
end of row 16550
longitude              -122.6800
latitude                 38.7600
housing_median_age       29.0000
total_rooms             994.0000
total_bedrooms          226.0000
population              302.0000
households              117.0000
median_income             2.3125
median_house_value    67900.0000
Name: 16551, dtype: float64
end of row 16551
longitude               -122.6800
latitude                  38.4800
housing_median_age        15.0000
total_rooms             1575.0000
total_bedrooms           262.0000
population               716.0000
households               259.0000
median_income              5.3409
median_house_value    244600.0000
Name: 16552, dtype: float64
end of row 16552
longitude               -122.6800
latitude                  38.4600
housing_median_age        19.0000
total_rooms             4976.0000
total_bedrooms           711.0000
population              1926.0000
households               625.0000
median_income              7.3003
median_house_value    381300.0000
Name: 16553, dtype: float64
end of row 16553
longitude               -122.6800
latitude                  38.4600
housing_median_age        17.0000
total_rooms             3201.0000
total_bedrooms           527.0000
population              1244.0000
households               495.0000
median_income              4.7143
median_house_value    202900.0000
Name: 16554, dtype: float64
end of row 16554
longitude               -122.6800
latitude                  38.4600
housing_median_age        15.0000
total_rooms             1811.0000
total_bedrooms           406.0000
population               718.0000
households               403.0000
median_income              2.3929
median_house_value    141300.0000
Name: 16555, dtype: float64
end of row 16555
longitude               -122.6800
latitude                  38.4400
housing_median_age        29.0000
total_rooms             2796.0000
total_bedrooms           588.0000
population              1346.0000
households               562.0000
median_income              2.9107
median_house_value    169700.0000
Name: 16556, dtype: float64
end of row 16556
longitude               -122.6800
latitude                  38.4300
housing_median_age        18.0000
total_rooms             2723.0000
total_bedrooms           529.0000
population              1150.0000
households               520.0000
median_income              3.5885
median_house_value    191900.0000
Name: 16557, dtype: float64
end of row 16557
longitude               -122.6800
latitude                  38.4000
housing_median_age        32.0000
total_rooms             2826.0000
total_bedrooms           627.0000
population              1767.0000
households               628.0000
median_income              3.1047
median_house_value    141400.0000
Name: 16558, dtype: float64
end of row 16558
longitude               -122.6800
latitude                  38.2500
housing_median_age        29.0000
total_rooms             1315.0000
total_bedrooms           240.0000
population               650.0000
households               228.0000
median_income              3.8269
median_house_value    306000.0000
Name: 16559, dtype: float64
end of row 16559
longitude               -122.6800
latitude                  38.0700
housing_median_age        26.0000
total_rooms             1445.0000
total_bedrooms           244.0000
population               510.0000
households               207.0000
median_income              5.6305
median_house_value    430000.0000
Name: 16560, dtype: float64
end of row 16560
longitude               -122.6900
latitude                  39.0400
housing_median_age         9.0000
total_rooms              254.0000
total_bedrooms            50.0000
population                66.0000
households                29.0000
median_income              2.7639
median_house_value    112500.0000
Name: 16561, dtype: float64
end of row 16561
longitude              -122.6900
latitude                 39.0200
housing_median_age       27.0000
total_rooms            2199.0000
total_bedrooms          527.0000
population              744.0000
households              316.0000
median_income             2.1094
median_house_value    72400.0000
Name: 16562, dtype: float64
end of row 16562
longitude              -122.690
latitude                 38.940
housing_median_age        9.000
total_rooms            1245.000
total_bedrooms          234.000
population              517.000
households              187.000
median_income             3.125
median_house_value    93400.000
Name: 16563, dtype: float64
end of row 16563
longitude               -122.6900
latitude                  38.5100
housing_median_age        18.0000
total_rooms             3364.0000
total_bedrooms           501.0000
population              1442.0000
households               506.0000
median_income              6.6854
median_house_value    313000.0000
Name: 16564, dtype: float64
end of row 16564
longitude               -122.6900
latitude                  38.4500
housing_median_age        36.0000
total_rooms             1943.0000
total_bedrooms           337.0000
population               711.0000
households               318.0000
median_income              3.9191
median_house_value    183000.0000
Name: 16565, dtype: float64
end of row 16565
longitude               -122.6900
latitude                  38.4400
housing_median_age        40.0000
total_rooms             1449.0000
total_bedrooms           281.0000
population               636.0000
households               295.0000
median_income              2.7222
median_house_value    161200.0000
Name: 16566, dtype: float64
end of row 16566
longitude               -122.6900
latitude                  38.4400
housing_median_age        35.0000
total_rooms             1356.0000
total_bedrooms           241.0000
population               620.0000
households               216.0000
median_income              3.5521
median_house_value    168300.0000
Name: 16567, dtype: float64
end of row 16567
longitude               -122.6900
latitude                  38.3700
housing_median_age         8.0000
total_rooms             6322.0000
total_bedrooms          1001.0000
population              2969.0000
households              1043.0000
median_income              4.8233
median_house_value    214000.0000
Name: 16568, dtype: float64
end of row 16568
longitude               -122.6900
latitude                  38.3600
housing_median_age         6.0000
total_rooms             5496.0000
total_bedrooms          1374.0000
population              2502.0000
households              1189.0000
median_income              2.4827
median_house_value    177500.0000
Name: 16569, dtype: float64
end of row 16569
longitude               -122.6900
latitude                  38.3500
housing_median_age        16.0000
total_rooms             1689.0000
total_bedrooms           254.0000
population               921.0000
households               270.0000
median_income              4.4444
median_house_value    191800.0000
Name: 16570, dtype: float64
end of row 16570
longitude               -122.6900
latitude                  38.3400
housing_median_age        16.0000
total_rooms             1683.0000
total_bedrooms           341.0000
population               880.0000
households               327.0000
median_income              3.2857
median_house_value    160200.0000
Name: 16571, dtype: float64
end of row 16571
longitude               -122.6900
latitude                  38.3400
housing_median_age        15.0000
total_rooms             3091.0000
total_bedrooms           697.0000
population              1602.0000
households               682.0000
median_income              4.0071
median_house_value    135500.0000
Name: 16572, dtype: float64
end of row 16572
longitude               -122.6900
latitude                  38.3400
housing_median_age        12.0000
total_rooms             3876.0000
total_bedrooms           782.0000
population              2146.0000
households               764.0000
median_income              4.0844
median_house_value    165400.0000
Name: 16573, dtype: float64
end of row 16573
longitude               -122.6900
latitude                  38.3200
housing_median_age        15.0000
total_rooms             2536.0000
total_bedrooms           414.0000
population              1400.0000
households               426.0000
median_income              5.6613
median_house_value    172400.0000
Name: 16574, dtype: float64
end of row 16574
longitude               -122.6900
latitude                  38.3000
housing_median_age        30.0000
total_rooms             3919.0000
total_bedrooms           743.0000
population              1693.0000
households               693.0000
median_income              3.3827
median_house_value    292100.0000
Name: 16575, dtype: float64
end of row 16575
longitude               -122.6900
latitude                  38.2700
housing_median_age        32.0000
total_rooms             2344.0000
total_bedrooms           434.0000
population              1066.0000
households               384.0000
median_income              4.0313
median_house_value    285000.0000
Name: 16576, dtype: float64
end of row 16576
longitude               -122.7000
latitude                  39.0000
housing_median_age        18.0000
total_rooms              793.0000
total_bedrooms           148.0000
population               186.0000
households                59.0000
median_income              2.3125
median_house_value    162500.0000
Name: 16577, dtype: float64
end of row 16577
longitude               -122.7000
latitude                  38.9900
housing_median_age        18.0000
total_rooms             1177.0000
total_bedrooms           224.0000
population               181.0000
households               105.0000
median_income              2.3558
median_house_value    134700.0000
Name: 16578, dtype: float64
end of row 16578
longitude               -122.7000
latitude                  38.6600
housing_median_age        43.0000
total_rooms             1384.0000
total_bedrooms           284.0000
population               582.0000
households               224.0000
median_income              3.9063
median_house_value    210000.0000
Name: 16579, dtype: float64
end of row 16579
longitude               -122.7000
latitude                  38.4600
housing_median_age        29.0000
total_rooms             2891.0000
total_bedrooms           459.0000
population              1012.0000
households               441.0000
median_income              5.0415
median_house_value    240200.0000
Name: 16580, dtype: float64
end of row 16580
longitude               -122.7000
latitude                  38.4500
housing_median_age        47.0000
total_rooms              904.0000
total_bedrooms           154.0000
population               310.0000
households               144.0000
median_income              3.9766
median_house_value    190600.0000
Name: 16581, dtype: float64
end of row 16581
longitude               -122.7000
latitude                  38.4500
housing_median_age        39.0000
total_rooms             2015.0000
total_bedrooms           335.0000
population               640.0000
households               315.0000
median_income              4.1734
median_house_value    240500.0000
Name: 16582, dtype: float64
end of row 16582
longitude               -122.7000
latitude                  38.4400
housing_median_age        45.0000
total_rooms              883.0000
total_bedrooms           202.0000
population               401.0000
households               194.0000
median_income              3.2845
median_house_value    178300.0000
Name: 16583, dtype: float64
end of row 16583
longitude               -122.7000
latitude                  38.4400
housing_median_age        42.0000
total_rooms              709.0000
total_bedrooms           182.0000
population               547.0000
households               172.0000
median_income              2.1912
median_house_value    165000.0000
Name: 16584, dtype: float64
end of row 16584
longitude               -122.7000
latitude                  38.4400
housing_median_age        35.0000
total_rooms             1304.0000
total_bedrooms           343.0000
population               822.0000
households               304.0000
median_income              3.2935
median_house_value    157800.0000
Name: 16585, dtype: float64
end of row 16585
longitude               -122.7000
latitude                  38.4300
housing_median_age        28.0000
total_rooms             1585.0000
total_bedrooms           412.0000
population              1362.0000
households               424.0000
median_income              1.6685
median_house_value    114100.0000
Name: 16586, dtype: float64
end of row 16586
longitude               -122.7000
latitude                  38.3900
housing_median_age        16.0000
total_rooms             4922.0000
total_bedrooms          1211.0000
population              2557.0000
households              1088.0000
median_income              2.0915
median_house_value    168100.0000
Name: 16587, dtype: float64
end of row 16587
longitude               -122.700
latitude                  38.360
housing_median_age        11.000
total_rooms             5817.000
total_bedrooms           878.000
population              2538.000
households               876.000
median_income              4.221
median_house_value    227100.000
Name: 16588, dtype: float64
end of row 16588
longitude               -122.7000
latitude                  38.3500
housing_median_age        16.0000
total_rooms             1328.0000
total_bedrooms           187.0000
population               607.0000
households               197.0000
median_income              5.0366
median_house_value    257800.0000
Name: 16589, dtype: float64
end of row 16589
longitude               -122.7000
latitude                  38.3500
housing_median_age        14.0000
total_rooms             2313.0000
total_bedrooms           411.0000
population               954.0000
households               397.0000
median_income              3.7813
median_house_value    146500.0000
Name: 16590, dtype: float64
end of row 16590
longitude               -122.7000
latitude                  38.3400
housing_median_age        19.0000
total_rooms             2987.0000
total_bedrooms           676.0000
population              1782.0000
households               688.0000
median_income              2.8261
median_house_value    154500.0000
Name: 16591, dtype: float64
end of row 16591
longitude               -122.7000
latitude                  38.3300
housing_median_age        26.0000
total_rooms             1887.0000
total_bedrooms           381.0000
population              1060.0000
households               364.0000
median_income              3.0078
median_house_value    160400.0000
Name: 16592, dtype: float64
end of row 16592
longitude               -122.700
latitude                  38.330
housing_median_age        26.000
total_rooms             1584.000
total_bedrooms           295.000
population               846.000
households               295.000
median_income              3.375
median_house_value    156300.000
Name: 16593, dtype: float64
end of row 16593
longitude               -122.7000
latitude                  38.3100
housing_median_age        14.0000
total_rooms             3155.0000
total_bedrooms           580.0000
population              1208.0000
households               501.0000
median_income              4.1964
median_house_value    258100.0000
Name: 16594, dtype: float64
end of row 16594
longitude               -122.7000
latitude                  38.2300
housing_median_age        47.0000
total_rooms             2090.0000
total_bedrooms           387.0000
population              1053.0000
households               377.0000
median_income              3.5673
median_house_value    310300.0000
Name: 16595, dtype: float64
end of row 16595
longitude               -122.7000
latitude                  38.0300
housing_median_age        42.0000
total_rooms             1410.0000
total_bedrooms           308.0000
population               624.0000
households               292.0000
median_income              4.1379
median_house_value    309100.0000
Name: 16596, dtype: float64
end of row 16596
longitude              -122.710
latitude                 38.910
housing_median_age       20.000
total_rooms              41.000
total_bedrooms           18.000
population               94.000
households               10.000
median_income             1.375
median_house_value    55000.000
Name: 16597, dtype: float64
end of row 16597
longitude               -122.7100
latitude                  38.5000
housing_median_age        15.0000
total_rooms             5645.0000
total_bedrooms           830.0000
population              2324.0000
households               769.0000
median_income              6.6104
median_house_value    330900.0000
Name: 16598, dtype: float64
end of row 16598
longitude               -122.710
latitude                  38.460
housing_median_age        42.000
total_rooms             1574.000
total_bedrooms           376.000
population               844.000
households               369.000
median_income              2.314
median_house_value    169400.000
Name: 16599, dtype: float64
end of row 16599
longitude               -122.710
latitude                  38.460
housing_median_age        41.000
total_rooms             1974.000
total_bedrooms           482.000
population               965.000
households               458.000
median_income              2.905
median_house_value    159300.000
Name: 16600, dtype: float64
end of row 16600
longitude               -122.7100
latitude                  38.4600
housing_median_age        36.0000
total_rooms             2175.0000
total_bedrooms           516.0000
population              1087.0000
households               477.0000
median_income              3.0444
median_house_value    167200.0000
Name: 16601, dtype: float64
end of row 16601
longitude               -122.7100
latitude                  38.4600
housing_median_age        23.0000
total_rooms             3220.0000
total_bedrooms           603.0000
population              1299.0000
households               591.0000

## From the list of columns , construct all combinations of 3 values and for each combination combine their row values as  a combined column

In [97]:
def column_combination(df):
  combined_list=[]
  append_dataframe=[]
  columns=df.columns
  for i in range(0,len(columns)-2):
    combined_list.append((columns[i],columns[i+1],columns[i+2]))
  for i in combined_list:
    dataframe=pd.DataFrame()
    for j in i:
      dataframe[j]=df.loc[:,j]
    append_dataframe.append(dataframe)
  return append_dataframe

In [98]:
combination_dataframe=column_combination(df)

In [101]:
len(combination_dataframe)

7

In [102]:
combination_dataframe[0]

       longitude  latitude  housing_median_age
0        -114.31     34.19                15.0
1        -114.47     34.40                19.0
2        -114.56     33.69                17.0
3        -114.57     33.64                14.0
4        -114.57     33.57                20.0
...          ...       ...                 ...
16995    -124.26     40.58                52.0
16996    -124.27     40.69                36.0
16997    -124.30     41.84                17.0
16998    -124.30     41.80                19.0
16999    -124.35     40.54                52.0

[17000 rows x 3 columns]

In [103]:
combination_dataframe[1]

       latitude  housing_median_age  total_rooms
0         34.19                15.0       5612.0
1         34.40                19.0       7650.0
2         33.69                17.0        720.0
3         33.64                14.0       1501.0
4         33.57                20.0       1454.0
...         ...                 ...          ...
16995     40.58                52.0       2217.0
16996     40.69                36.0       2349.0
16997     41.84                17.0       2677.0
16998     41.80                19.0       2672.0
16999     40.54                52.0       1820.0

[17000 rows x 3 columns]